* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

$white : white ;
$blue : dodgerblue ;


@mixin wh {

    width: 100%;
    height: 100%;
    
}

@mixin www {

    width: 100%;
    
}

header {

    @include www;
  background-color: aliceblue;



    nav {

        display: flex;
        @include www;
       justify-content: space-around;
        margin: 40px;
        

        
     .start {

       

    p {
        color: $blue;
    }
        }

        .rest {
            display: flex;
        }

        
    }


   

      




}


#blue {

    background: $blue;
    
   @include www;
    height: 10vh;


.ww {

    @include www;

    margin: 70px;

    

   
    .line {

      
       
       

        ul {

            display: flex;
            justify-content: space-around;
           
           li{ 

            
           margin-top: 40px;
            a {

                color: $white;
            }
        }
        }
    }
}

}

#pic {

    @include www;
    height: 58vh;


    

        background-image: url(https://preview.colorlib.com/theme/waterboat/images/hero_1.jpg.webp);
        height: 80vh;
        position: relative;
        
        
    

   .ocean {

    h1{
        position: absolute;
        margin-top: 300px;
        margin-left: 80%;
        display: inline-block;
        color: $white;
        text-shadow: 2px 2px 4px #000000;
        font-weight: bold;
    }

    p{
        position: absolute;
        margin-top: 350px;
        margin-left: 80%;
        display: inline-block;
        color: $white;
        text-shadow: 2px 2px 4px #000000;
    }

    button {

        background-color: $blue;
        color: $white;
        border: 0px solid;
        border-radius: 5px;
        width: 100px;
        height: 50px;
        margin-top: 500px;
        margin-left: 80%;
      }
   }



}

#rush {

    margin: 40px;

    margin-top: 300px;

    .idk {

        display: grid;
        gap: 40px;
        grid-template-columns: 300px 300px 300px;
        justify-content: space-around;
        margin-top: 50px;
        object-fit: cover;
        overflow: hidden;

        .hurry {

            width: 700px;
            height: 400px;
            object-fit: cover;
            overflow: hidden;
            border: 0px solid black;
            background-color: $white;
            border-radius: 10px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            padding: 20px;

            img{
                @include wh;
            }

           
        }

       
    }


}

.try {

    border: 0px solid ;
    width: 500px;
    height: 400px;
    border: 0px solid black;
    background-color: $white;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 20px;

    hr {

        width: 40px;
        background-color: $blue;
        

    }

    h6{

        color: $blue;
    }
    

    p{
        color: gray;


    }

    button {

        background-color: $blue;
        color: $white;
        width: 140px;
        height: 50px;
        border: 0px solid;
        border-radius: 10px;

    }


   
}

  

  @media (max-width: 600px) {
    .idk { grid-template-columns: repeat(1, 1fr); }
  }

#another {

    margin: 50px;
    margin-top: 100px;

    .icons {

        display: grid;
        gap: 40px;
        grid-template-columns: 300px 300px 300px;
        justify-content: space-around;
        margin-top: 50px;



        i{

            color: $blue;
        }

    .iconone {

       
        border: 0px solid black;
        background-color: $white;
        border-radius: 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        padding: 20px;

    }

    .icontwo {

        border: 0px solid black;
        background-color: $white;
        border-radius: 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        padding: 20px;

    }

    .iconthree {

        border: 0px solid black;
        background-color: $white;
        border-radius: 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        padding: 20px;

    }

    

}

@media (max-width: 900px) {
    .icons { grid-template-columns: repeat(2, 1fr); }
  }
  

  @media (max-width: 600px) {
    .icons { grid-template-columns: repeat(1, 1fr); }
  }

}


#numbers {

    background-image: url(https://preview.colorlib.com/theme/waterboat/images/hero_1.jpg.webp);
    margin-top: 70px;
    background-color: rgba(30, 143, 255, 0.349);
    @include www ;
    height: 18vh;
    border: 0px solid ;

    .number {

        display: flex;
        justify-content: space-around;
        margin-top: 30px;
        
        .numberone {

             margin: auto;
             width: 60%;
             padding: 10px;
             text-align: center;
             margin-top: 50px;
             color: $white;
             text-shadow: 2px 2px 4px #000000;
        }

        .numbertwo {

            margin: auto;
            width: 60%;
            padding: 10px;
            text-align: center;
            margin-top: 50px;
            color: $white;
            text-shadow: 2px 2px 4px #000000;
       }

       .numberthree {

        margin: auto;
        width: 60%;
        padding: 10px;
        text-align: center;
        margin-top: 50px;
        color: $white;
        text-shadow: 2px 2px 4px #000000;

   }

   .numberfour {

    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
    color: $white;
    text-shadow: 2px 2px 4px #000000;
}

     .numberfive {

    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
    color: $white;
    text-shadow: 2px 2px 4px #000000;
}

    }
}

#cards {

    margin: 40px;



    .mycard {

        display: grid;
        gap: 40px;
        grid-template-columns: 300px 300px 300px;
        justify-content: space-around;
        margin-top: 50px;
        object-fit: cover;
        overflow: hidden;
        

        
     img {

       @include www;
    }
    }

    
    
    
    
    .cardone{
    
        border: 0px solid black;
        border-radius: 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        background-color: $white;

        .wordone {

            padding: 20px;
        }
    }
    
    .cardtwo{
    
        border: 0px solid black;
        border-radius: 10px;
        background-color: $white;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

        .wordtwo {

            padding: 20px;
        }
      
    }
    
    .cardthree{
    
        border: 0px solid black;
        border-radius: 10px;
        background-color: $white;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

        .wordthree {

            padding: 20px;
        }
       
    }
    
    .cardfour{
    
        border: 0px solid black;
        background-color: $white;
        border-radius: 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

        .wordfour {

            padding: 20px;
        }
        
    }
    
    .cardfive{
    
        border: 0px solid black;
        background-color: $white;
        border-radius: 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

        .wordfive {

            padding: 20px;
        }
      
    }
    
    .cardsix {
    
        border: 0px solid black;
        background-color: $white;
        border-radius: 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

        .wordsix {

            padding: 20px;
        }
        
    }

   
    
    
    
    @media (max-width: 900px) {
        .mycard { grid-template-columns: repeat(2, 1fr); }
      }
      
    
      @media (max-width: 600px) {
        .mycard { grid-template-columns: repeat(1, 1fr); }
      }

      button {

        background-color: $blue;
        color: $white;
        border: 0px solid;
        border-radius: 5px;
        width: 50px;
        height: 20px;
        margin-left: 80px;
      }

      p {
        color: gray;
      }

      i{
        color: $blue;
      }
    
    
}


@import "./base/reset" ;

@import "./components/buttons" ;

@import "./layout/grid" ;

@import "./layout/header" ;







